:root{
    --bg-navBar: #3e4262;
    --bg-gray-light: #5A5A5A;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.bg-navBar{
    background-color: var(--bg-navBar);
}

.bg-gray-light{
    background-color: var(--bg-gray-light); 
}

#Ventajas p{    
    font-size: 0.8rem;
}

main .carrusel{
    height: 80vh;    
    object-fit: cover;
    object-position: center;
}

.twitter{
    height: 80vh;
    object-fit: contain;
    object-position: center;
}

.accordion-button{    
    filter: invert(90%);    
}

.accordion-button:not(.collapsed){
    background-color: white;
    color: black;
}

.accordion-body{
    background-color: #333;    
}

.btn-image{
    outline: none;
    box-shadow: none;
}

.gallery{
    width: 100%;     
    object-fit: contain;
    object-position: center;
}

.bg-light-dark{
    background-color: rgb(230, 230, 230);
}

.font-footer{
    font-size: 0.7rem;
}


footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    text-decoration: underline;
    color: inherit
}

:root{
    --bg-navBar: #3e4262;
    --bg-gray-light: #5A5A5A;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.bg-navBar{
    background-color: var(--bg-navBar);
}

.bg-gray-light{
    background-color: var(--bg-gray-light); 
}

#Ventajas p{    
    font-size: 0.8rem;
}

main .carrusel{
    height: 80vh;    
    object-fit: cover;
    object-position: center;
}

.twitter{
    width: 80%;
    object-fit: contain;
    object-position: center;
}

.accordion-button{    
    filter: invert(90%);    
}

.accordion-button:not(.collapsed){
    background-color: white;
    color: black;
}

.accordion-body{
    background-color: #333;    
}

.btn-image{
    outline: none;
    box-shadow: none;
}

.gallery{
    width: 100%;     
    object-fit: contain;
    object-position: center;
}

.bg-light-dark{
    background-color: rgb(230, 230, 230);
}

.font-footer{
    font-size: 0.7rem;
}


footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    text-decoration: underline;
    color: inherit
}




@media (min-width: 767px) and (max-width: 991px) {
    main .carrusel{
        height: auto;
        width: 100%;        
    }

    .twitter{
        height: auto;
        width: 90%;                   
    }
    .newsletter{
        width: 30%;
    }

    footer img{
        width: 40%;
    }
}


@media (min-width:575) and (max-width: 767px) {
    main .carrusel{
        height: auto;
        width: 20%;        
    }

    .twitter{
        height: auto;
        width: 60%;                   
    }
    .newsletter{
        width: 30%;
    }

    footer img{
        width: 40%;
    }
}

@media (min-width:0) and (max-width: 575px) {
    main .carrusel{
        height: auto;
        width: 100%;        
    }

    .twitter{
        height: auto;
        width: 100%;                   
    }
    .newsletter{
        width: 50%;
    }

    footer img{
        width: 40%;
    }
}
